.main{
    height: 100%;
    width: 100vw;
    z-index: 0;
    margin: 10vh auto;
    position: relative;
    font-family: 'Share Tech Mono', monospace;
}

.loading{
    background: none;
    font-size: 72px;
    text-align: center;
    margin: 5vh auto;
}

h3{
    font-size: 1rem;
    color: #36ca09;
    padding: 10px 20px;
    background: black;
    margin: 5vh auto;
    align-self: center;
    width: 40%;
}


img{
    position: fixed;
    left: 0;
    bottom: 5vh;
    height: 30vh;
}

p{
    font-size: 1.25rem;
    color: #36ca09;
    background-image: url('../../images/terminal-screen.png');
    background-position: center center;
    padding: 10px;
    text-align: left;
    height: 100px;
    width: 780px;
    margin: 10px auto;
}