.gameBoard{
  position: relative;
  height: 480px;
  width: 800px;
  margin: auto;
} 
/* needs set width, height because this is what player is set relative to */


.map_display{
  position: relative;
  display: flex; /*This sets the tiles as rows*/
  margin: auto;
  height: 480px;
  width: 800px;
}

.tile{
  display: flex;
}

.red-soil{
  background-image: url('../../images/red-dirt.jpg');
}
.path{
  background-color: #833118;
}
.concrete-path{
  background-color: #26363d;
}
.door{
  background-image: url('../../images/doors-josephFredrick.jpg');
  background-size: contain;
}
.metal{
  background-image: url('../../images/ship.jpg');
  background-size: contain;
}
.crystal{
  background-image: url('../../images/crystal.jpg')
}
.lava{
  background-image: url('../../images/lava.jpg')
}
.wall{ 
  background-color: #3f1a09; 
}
.wall2{
  background-color: #121a1d;
}