/* FONTS
font-family: 'Sen', sans-serif;
font-family: 'Spartan', sans-serif;
font-family: 'Share Tech Mono', monospace;
 */

.App {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  height: 100%;
  width: 100%;
}

.App a {
  text-decoration: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.NavBar ul{ 
  display: flex;
}
.NavBar li{
  list-style: none;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
}

.NavBar li:hover{
  color:red
}

